# group_vars/all.yml
---
ansible_connection: local
ansible_become_pass: "{{ vault_ansible_become_pass | default(None) }}"
ansible_managed: "*** WARNING: This file is part of `dotfiles` and managed by Ansible ***"

dotfiles_repository: https://github.com/lojoja/dotfiles
dotfiles_dir: "{{ local_opt }}/dotfiles"
dotfiles_install: true
dotfiles_install_base_dir: "{{ ansible_env.HOME }}"

local_prefix: "{{ dotfiles_install_base_dir }}/.local"
local_bin: "{{ local_prefix }}/bin"
local_etc: "{{ local_prefix }}/etc"
local_opt: "{{ local_prefix }}/opt"
