{{ ansible_managed | comment(decoration="// ") }}

{
  "root": true,
  "env": {{ config_eslint_env | to_json }},
  "parserOptions": {
    "ecmaVersion": "{{ config_eslint_ecmaVersion }}"
  },
  "extends": ["eslint:recommended"],
  "ignorePatterns": [
    "**/.pnp.*",
    "**/.yarn/",
    "**/node_modules/",
    "**/vendor/"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "extends": ["plugin:prettier/recommended"]
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/recommended-type-checked",
        "plugin:prettier/recommended"
      ]
    }
  ]
}
