{{ ansible_managed | comment }}

[user]
  name = {{ config_git_account_alt.user_name }}
  email = {{ config_git_account_alt.user_email }}
  signingkey = {{ ssh_dir }}/{{ config_git_account_alt.user_key.file }}.pub
