{{ ansible_managed | comment }}
{% for git_account in config_git_accounts %}
  {%- for signing_key in git_account.signing_keys %}

{{ git_account.signing_ids | join(',') }} {{ signing_key.public_key }}
  {%- endfor -%}
{% endfor %}
