{
  "Guid": "DE3F051B-E918-4DBF-BBE4-8EAACC43A339",
  "Name": "lojoja",
  "Ambiguous Double Width": false,
  "ASCII Anti Aliased": true,
  "ASCII Ligatures": true,
  "Background Image Location": "",
  "Badge Text": "",
  "Blinking Cursor": false,
  "Blur": false,
  "BM Growl": false,
  "Bound Hosts": [],
  "Brighten Bold Text": true,
  "Character Encoding": 4,
  "Close Sessions On End": true,
  "Columns": 100,
  "Command": "",
  "Custom Command": "Yes",
  "Custom Directory": "No",
  "Default Bookmark": "No",
  "Description": "Default",
  "Disable Window Resizing": true,
  "Draw Powerline Glyphs": true,
  "Flashing Bell": false,
  "Has Hotkey": false,
  "Horizontal Spacing": 1,
  "Idle Code": 0,
  "Jobs to Ignore": [
    "rlogin",
    "ssh",
    "slogin",
    "telnet"
  ],
  "Minimum Contrast": 0,
  "Mouse Reporting": true,
  "Non Ascii Font": "Monaco 12",
  "Non-ASCII Anti Aliased": true,
  "Normal Font": "SauceCodeProNerdFontCompleteM-Regular 11",
  "Option Key Sends": 0,
  "Prompt Before Closing 2": false,
  "Right Option Key Sends": 0,
  "Rows": 50,
  "Screen": -1,
  "Scrollback Lines": 1000,
  "Send Code When Idle": false,
  "Shortcut": "",
  "Show Mark Indicators": false,
  "Show Status Bar": false,
  "Silence Bell": true,
  "Status Bar Layout": {
    "components": [],
    "advanced configuration": {
      "remove empty components": false,
      "font": ".AppleSystemUIFont 12",
      "algorithm": 0,
      "auto-rainbow style": 0
    }
  },
  "Sync Title": false,
  "Tags": [],
  "Terminal Type": "xterm-256color",
  "Thin Strokes": 4,
  "Transparency": 0
  "Unlimited Scrollback": false,
  "Use Bold Font": false,
  "Use Bright Bold": true,
  "Use Cursor Guide": false,
  "Use Custom Tab Title": false,
  "Use Italic Font": true,
  "Use Non-ASCII Font": false,
  "Use Tab Color": true,
  "Vertical Spacing": 1,
  "Visual Bell": true,
  "Window Type": 12,
  "Working Directory": "{{ ansible_env.HOME | replace('/', '\/') }}",
  "Background Color": {
    "Red Component": 0.16740000247955322,
    "Color Space": "sRGB",
    "Blue Component": 0.18000000715255737,
    "Alpha Component": 1,
    "Green Component": 0.17579999566078186
  },
  "Badge Color": {
    "Red Component": 0.85000002384185791,
    "Color Space": "sRGB",
    "Blue Component": 0.15299999713897705,
    "Alpha Component": 0.5,
    "Green Component": 0.18784999847412109
  },
  "Bold Color": {
    "Red Component": 0.9500001072883606,
    "Color Space": "sRGB",
    "Blue Component": 0.94999986886978149,
    "Alpha Component": 1,
    "Green Component": 0.94999986886978149
  },
  "Cursor Color": {
    "Red Component": 0.94999998807907104,
    "Color Space": "sRGB",
    "Blue Component": 0.94999998807907104,
    "Alpha Component": 1,
    "Green Component": 0.94999998807907104
  },
  "Cursor Guide Color": {
    "Red Component": 0.70213186740875244,
    "Color Space": "sRGB",
    "Blue Component": 1,
    "Alpha Component": 0.25,
    "Green Component": 0.9268307089805603
  },
  "Cursor Text Color": {
    "Red Component": 0.23000000417232513,
    "Color Space": "sRGB",
    "Blue Component": 0.25,
    "Alpha Component": 1,
    "Green Component": 0.24199999868869781
  },
  "Foreground Color": {
    "Red Component": 0.94999998807907104,
    "Color Space": "sRGB",
    "Blue Component": 0.94999998807907104,
    "Alpha Component": 1,
    "Green Component": 0.94999998807907104
  },
  "Link Color": {
    "Red Component": 8.9493113364369492e-08,
    "Color Space": "sRGB",
    "Blue Component": 0.65000003576278687,
    "Alpha Component": 1,
    "Green Component": 0.29249995946884155
  },
  "Selected Text Color": {
    "Red Component": 0.94999998807907104,
    "Color Space": "sRGB",
    "Blue Component": 0.94999998807907104,
    "Alpha Component": 1,
    "Green Component": 0.94999998807907104
  },
  "Selection Color": {
    "Red Component": 0.46500000357627869,
    "Color Space": "sRGB",
    "Blue Component": 0.5,
    "Alpha Component": 1,
    "Green Component": 0.48425000905990601
  },
  "Tab Color": {
    "Red Component": 0.16740000247955322,
    "Color Space": "sRGB",
    "Blue Component": 0.18000000715255737,
    "Alpha Component": 1,
    "Green Component": 0.17579999566078186
  },
  "Ansi 0 Color": {
    "Red Component": 0.46500000357627869,
    "Color Space": "sRGB",
    "Blue Component": 0.5,
    "Alpha Component": 1,
    "Green Component": 0.48425000905990601
  },
  "Ansi 1 Color": {
    "Red Component": 0.68000000715255737,
    "Color Space": "sRGB",
    "Blue Component": 0.12240000069141388,
    "Alpha Component": 1,
    "Green Component": 0.15027999877929688
  },
  "Ansi 2 Color": {
    "Red Component": 0.18000000715255737,
    "Color Space": "sRGB",
    "Blue Component": 0.11999999731779099,
    "Alpha Component": 1,
    "Green Component": 0.47999998927116394
  },
  "Ansi 3 Color": {
    "Red Component": 0.68000000715255737,
    "Color Space": "sRGB",
    "Blue Component": 0.12240000069141388,
    "Alpha Component": 1,
    "Green Component": 0.63353335857391357
  },
  "Ansi 4 Color": {
    "Red Component": 0.1875,
    "Color Space": "sRGB",
    "Blue Component": 0.75,
    "Alpha Component": 1,
    "Green Component": 0.44062501192092896
  },
  "Ansi 5 Color": {
    "Red Component": 0.68000000715255737,
    "Color Space": "sRGB",
    "Blue Component": 0.23391999304294586,
    "Alpha Component": 1,
    "Green Component": 0.12240000069141388
  },
  "Ansi 6 Color": {
    "Red Component": 0.12240000069141388,
    "Color Space": "sRGB",
    "Blue Component": 0.49413332343101501,
    "Alpha Component": 1,
    "Green Component": 0.68000000715255737
  },
  "Ansi 7 Color": {
    "Red Component": 0.94999998807907104,
    "Color Space": "sRGB",
    "Blue Component": 0.94999998807907104,
    "Alpha Component": 1,
    "Green Component": 0.94999998807907104
  },
  "Ansi 8 Color": {
    "Red Component": 0.54600000381469727,
    "Color Space": "sRGB",
    "Blue Component": 0.60000002384185791,
    "Alpha Component": 1,
    "Green Component": 0.57480001449584961
  },
  "Ansi 9 Color": {
    "Red Component": 0.85000002384185791,
    "Color Space": "sRGB",
    "Blue Component": 0.15299999713897705,
    "Alpha Component": 1,
    "Green Component": 0.18784999847412109
  },
  "Ansi 10 Color": {
    "Red Component": 0.27000001072883606,
    "Color Space": "sRGB",
    "Blue Component": 0.18000000715255737,
    "Alpha Component": 1,
    "Green Component": 0.72000002861022949
  },
  "Ansi 11 Color": {
    "Red Component": 0.85000002384185791,
    "Color Space": "sRGB",
    "Blue Component": 0.15299999713897705,
    "Alpha Component": 1,
    "Green Component": 0.79191666841506958
  },
  "Ansi 12 Color": {
    "Red Component": 0.30000001192092896,
    "Color Space": "sRGB",
    "Blue Component": 1,
    "Alpha Component": 1,
    "Green Component": 0.61500000953674316
  },
  "Ansi 13 Color": {
    "Red Component": 0.85000002384185791,
    "Color Space": "sRGB",
    "Blue Component": 0.29240000247955322,
    "Alpha Component": 1,
    "Green Component": 0.15299999713897705
  },
  "Ansi 14 Color": {
    "Red Component": 0.15299999713897705,
    "Color Space": "sRGB",
    "Blue Component": 0.61766666173934937,
    "Alpha Component": 1,
    "Green Component": 0.85000002384185791
  },
  "Ansi 15 Color": {
    "Red Component": 1,
    "Color Space": "sRGB",
    "Blue Component": 0.99999600648880005,
    "Alpha Component": 1,
    "Green Component": 0.99999600648880005
  },
  "Keyboard Map": {
    "0xf728-0x80000": {
      "Text": "d",
      "Action": 10
    },
    "0xf702-0x280000": {
      "Text": "b",
      "Action": 10
    },
    "0xf70d-0x20000": {
      "Text": "[21;2~",
      "Action": 10
    },
    "0x7f-0x80000": {
      "Text": "0x1b 0x7f",
      "Action": 11
    },
    "0xf708-0x20000": {
      "Text": "[15;2~",
      "Action": 10
    },
    "0x33-0x40000": {
      "Text": "0x1b",
      "Action": 11
    },
    "0xf703-0x260000": {
      "Text": "[1;6C",
      "Action": 10
    },
    "0xf729-0x20000": {
      "Text": "[1;2H",
      "Action": 10
    },
    "0xf702-0x260000": {
      "Text": "[1;6D",
      "Action": 10
    },
    "0x38-0x40000": {
      "Text": "0x7f",
      "Action": 11
    },
    "0xf72b-0x40000": {
      "Text": "[1;5F",
      "Action": 10
    },
    "0xf70c-0x20000": {
      "Text": "[20;2~",
      "Action": 10
    },
    "0xf701-0x260000": {
      "Text": "[1;6B",
      "Action": 10
    },
    "0x32-0x40000": {
      "Text": "0x00",
      "Action": 11
    },
    "0xf707-0x20000": {
      "Text": "[1;2S",
      "Action": 10
    },
    "0xf703-0x240000": {
      "Text": "[1;5C",
      "Action": 10
    },
    "0xf700-0x260000": {
      "Text": "[1;6A",
      "Action": 10
    },
    "0xf702-0x240000": {
      "Text": "[1;5D",
      "Action": 10
    },
    "0xf703-0x300000": {
      "Text": "0x5",
      "Action": 11
    },
    "0x37-0x40000": {
      "Text": "0x1f",
      "Action": 11
    },
    "0x3-0x200000": {
      "Text": "0xd",
      "Action": 11
    },
    "0xf701-0x240000": {
      "Text": "[1;5B",
      "Action": 10
    },
    "0xf702-0x300000": {
      "Text": "0x1",
      "Action": 11
    },
    "0xf703-0x220000": {
      "Text": "[1;2C",
      "Action": 10
    },
    "0xf739-0x0": {
      "Text": "",
      "Action": 13
    },
    "0xf70b-0x20000": {
      "Text": "[19;2~",
      "Action": 10
    },
    "0xf728-0x0": {
      "Text": "0x4",
      "Action": 11
    },
    "0xf706-0x20000": {
      "Text": "[1;2R",
      "Action": 10
    },
    "0xf700-0x240000": {
      "Text": "[1;5A",
      "Action": 10
    },
    "0xf702-0x220000": {
      "Text": "[1;2D",
      "Action": 10
    },
    "0x36-0x40000": {
      "Text": "0x1e",
      "Action": 11
    },
    "0xf70f-0x20000": {
      "Text": "[24;2~",
      "Action": 10
    },
    "0xf701-0x220000": {
      "Text": "[1;2B",
      "Action": 10
    },
    "0xf70a-0x20000": {
      "Text": "[18;2~",
      "Action": 10
    },
    "0xf729-0x40000": {
      "Text": "[1;5H",
      "Action": 10
    },
    "0xf72b-0x20000": {
      "Text": "[1;2F",
      "Action": 10
    },
    "0xf700-0x220000": {
      "Text": "[1;2A",
      "Action": 10
    },
    "0x30-0x200000": {
      "Text": "0",
      "Action": 12
    },
    "0xf705-0x20000": {
      "Text": "[1;2Q",
      "Action": 10
    },
    "0x31-0x200000": {
      "Text": "1",
      "Action": 12
    },
    "0x33-0x200000": {
      "Text": "3",
      "Action": 12
    },
    "0x35-0x40000": {
      "Text": "0x1d",
      "Action": 11
    },
    "0x34-0x200000": {
      "Text": "4",
      "Action": 12
    },
    "0x32-0x200000": {
      "Text": "2",
      "Action": 12
    },
    "0x35-0x200000": {
      "Text": "5",
      "Action": 12
    },
    "0x36-0x200000": {
      "Text": "6",
      "Action": 12
    },
    "0x37-0x200000": {
      "Text": "7",
      "Action": 12
    },
    "0x2d-0x40000": {
      "Text": "0x1f",
      "Action": 11
    },
    "0x38-0x200000": {
      "Text": "8",
      "Action": 12
    },
    "0x2a-0x200000": {
      "Text": "*",
      "Action": 12
    },
    "0x39-0x200000": {
      "Text": "9",
      "Action": 12
    },
    "0x2b-0x200000": {
      "Text": "+",
      "Action": 12
    },
    "0xf70e-0x20000": {
      "Text": "[23;2~",
      "Action": 10
    },
    "0x2e-0x200000": {
      "Text": ".",
      "Action": 12
    },
    "0x2d-0x200000": {
      "Text": "-",
      "Action": 12
    },
    "0xf709-0x20000": {
      "Text": "[17;2~",
      "Action": 10
    },
    "0x7f-0x100000": {
      "Text": "0x15",
      "Action": 11
    },
    "0x2f-0x200000": {
      "Text": "\/",
      "Action": 12
    },
    "0xf704-0x20000": {
      "Text": "[1;2P",
      "Action": 10
    },
    "0x34-0x40000": {
      "Text": "0x1c",
      "Action": 11
    },
    "0xf703-0x280000": {
      "Text": "f",
      "Action": 10
    }
  },
}
