{{ ansible_managed | comment }}

[default]
vo={{ config_mpv_vo }}
ao={{ config_mpv_ao }}
sub-scale={{ config_mpv_sub_scale }}
af={{ config_mpv_af }}
volume-max={{ config_mpv_volume_max }}
framedrop={{ config_mpv_framedrop }}
hwdec={{ config_mpv_hwdec }}
