{
  "endOfLine": "lf",
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.sublime-color-scheme","*.sublime-preferences","*.sublime-project"],
      "options": {
        "parser": "jsonc"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
