{
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-xml"]
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.html", "*.xml"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
