{{ ansible_managed | comment }}

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$shlvl\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$docker_context\
$package\
$nodejs\
$perl\
$php\
$python\
$ruby\
$gcloud\
$sudo\
$cmd_duration\
$line_break\
$status\
$container\
$shell\
$character"""

right_format = "{{ config_starship_right_format }}"
scan_timeout = {{ config_starship_scan_timeout }}
command_timeout = {{ config_starship_command_timeout }}
add_newline = {{ config_starship_add_newline }}

[aws]
symbol = " "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[git_status]
conflicted = ""
diverged = "󰃻"
untracked = " x${count} "
stashed = " "
modified = " x${count} "
staged = " x${count} "
renamed = " x${count} "
deleted = "󰗨 x${count} "
ahead = "󰈑 "
behind = "󰑟 "
style = "bold blue"
format = '([\[ $conflicted$untracked$stashed$modified$renamed$deleted$staged$ahead$behind\]]($style) )'

[golang]
symbol = " "

[haskell]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[spack]
symbol = "󰦻 "

[status]
disabled = {{ config_starship_status_disabled }}
