{{ ansible_managed | comment }}

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$shlvl\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$docker_context\
$package\
$nodejs\
$php\
$python\
$ruby\
$sudo\
$cmd_duration\
$line_break\
$status\
$container\
$shell\
$character"""

right_format = "{{ config_starship_right_format }}"
scan_timeout = {{ config_starship_scan_timeout }}
command_timeout = {{ config_starship_command_timeout }}
add_newline = {{ config_starship_add_newline }}

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[cmd_duration]
style = "bold yellow"

[container]
symbol = "󰋘"
style = "bold red dimmed"

[directory]
read_only = " 󰌾"
style = "bold cyan"
read_only_style = "red"

[docker_context]
symbol = " "
style = "bold blue"

[hostname]
style = "bold green dimmed"

[git_branch]
symbol = " "
style = "bold magenta"

[git_commit]
tag_symbol = " 󰓹 "
style = "bold green"

[git_state]
style = "bold yellow"

[git_status]
conflicted = ""
diverged = "󰃻"
untracked = " x${count} "
stashed = " "
modified = " x${count} "
staged = " x${count} "
renamed = " x${count} "
deleted = "󰗨 x${count} "
ahead = "󰈑 "
behind = "󰑟 "
style = "bold red"
format = '([\[ $conflicted$untracked$stashed$modified$renamed$deleted$staged$ahead$behind\]]($style) )'

[nodejs]
symbol = " "
style = "bold green"
not_capable_style = "bold_red"

[package]
symbol = "󰏗 "
style = "bold yellow"

[php]
symbol = " "
style = "bold bright-blue"

[python]
symbol = " "
style = "bold bright-yellow"

[ruby]
symbol = " "
style = "bold red"

[shell]
disabled = true

[shlvl]
style = "bold yellow"

[sudo]
symbol = "󱑷 "
style = "bold blue"

[status]
symbol = ""
success_symbol = ""
not_executable_symbol = ""
not_found_symbol = ""
sigint_symbol = "󱊈"
signal_symbol = "󱐋"
style = "bold red"
disabled = {{ config_starship_status_disabled }}

[username]
style_root = "bold red"
style_user = "bold yellow"
