# roles/shell/tasks/install.yml
---
- block:
    - name: Set approved shells
      ansible.builtin.lineinfile:
        dest: /etc/shells
        state: present
        line: "{{ item }}"
      loop: "{{ shell_approved_shells }}"

    - name: Set login shell
      user:
        name: "{{ ansible_facts['env']['USER'] }}"
        shell: "{{ shell_login_shell }}"
  become: true

- name: Install oh-my-zsh
  ansible.builtin.shell: /bin/sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  args:
    creates: "{{ shell_omz_dir }}"

- name: Add zsh config
  ansible.builtin.template:
    src: "{{ item.template }}"
    dest: "{{ item.file }}"
    mode: 0644
  loop: "{{ shell_zsh_config }}"
  loop_control:
    label: "{{ item.file }}"
