# roles/macports/defaults/main.yml
---
macports_prefix: /opt/local

macports_bin: "{{ macports_prefix }}/bin"
macports_etc: "{{ macports_prefix }}/etc"
macports_lib: "{{ macports_prefix }}/lib"
macports_opt: "{{ macports_prefix }}/opt"
macports_sbin: "{{ macports_prefix }}/sbin"
macports_share: "{{ macports_prefix }}/share"
macports_gnubin: "{{ macports_prefix }}/libexec/gnubin"

macports_man: "{{ macports_prefix }}/man"
macports_gnuman: "{{ macports_gnubin }}/man"

# Overrides for programs that should use the macOS versions instead of macports
macports_overrides:
  - src: /bin/stty
    dest: "{{ local_bin }}/stty"
  - src: /usr/bin/tty
    dest: "{{ local_bin }}/tty"

macports_ports_default:
  # Core
  - port: bash
  - port: bash-completion
  - port: zsh
  - port: zsh-autosuggestions
  - port: zsh-completions
  - port: autoconf
  - port: automake
  - port: cctools
  - port: coreutils
  - port: curl
  - port: findutils
  - port: git
  - port: git-lfs
  - port: gmake
  - port: gperf
  - port: gsed
  - port: gnupg2
  - port: gnutar
  - port: grep
  - port: gzip
  - port: less
  - port: libedit
  - port: libpng
  - port: libsass
  - port: libtool
  - port: libxml2
  - port: libyaml
  - port: ncurses
  - port: openssl
  - port: p7zip
  - port: pkgconfig
  - port: sqlite3
  - port: texinfo
  - port: wget
  - port: xz
  - port: zlib
  # Languages
  - port: go
  - port: python3_select
  - port: ansible_select
  - port: black_select
  - port: pip_select
  - port: pygments_select
  - port: pylint_select
  - port: python38
  - port: python311
  - port: py311-build
  - port: py311-installer
  - port: py311-pip
  - port: py311-wheel
  - port: python313
  - port: py313-build
  - port: py313-installer
  - port: py313-pip
  - port: py313-wheel
  - port: py313-ansible
  - port: py313-black
  - port: py313-pygments
  - port: py313-pylint
  - port: nodejs22
  - port: npm10
  - port: openjdk21-temurin
  - port: ruff
  - port: ruby_select
  - port: ruby
  # Misc.
  - port: act
  - port: age
  - port: exiftool
  - port: exiv2
  - port: ffmpeg
  - port: ffmpeg7
  - port: fzf
  - port: guetzli
  - port: hugo
  - port: ImageMagick
  - port: jq
  - port: lame
  - port: mediainfo
  - port: mkvtoolnix
  - port: mpv
  - port: nano
  - port: nanorc
  - port: nmap
  - port: nmap-formatter
  - port: optipng
  - port: poetry
  - port: pv
  - port: ripgrep
  - port: shellcheck
  - port: sops
  - port: starship
  - port: thefuck
  - port: uv
  - port: watch
  - port: youtube-dl
  - port: yq
  - port: yt-dlp
macports_ports_abandoned: []
macports_ports_extra: []
macports_ports_exclude: []

macports_ports: "{{ (macports_ports_default + macports_ports_extra) | difference(macports_ports_exclude) }}"

macports_ports_select:
  - program: ansible
    binary: py313-ansible
  - program: black
    binary: black313
  - program: pip3
    binary: pip313
  - program: pygments
    binary: py313-pygments
  - program: pylint
    binary: pylint313
  - program: python3
    binary: python313
  - program: ruby
    binary: ruby18

macports_ports_select_manual: []
