{{ ansible_managed | comment }}

# Set shell $PATH
for dir in {{ shell_paths | join(' ') }}
do
  if [[ -d $dir ]]
  then
    path=($dir $path)
  fi
done &>/dev/null

typeset -gU path

# Set shell $MANPATH
for dir in {{ shell_man_paths | join(' ') }}
do
  if [[ -d $dir ]]
  then
    manpath=($dir $path)
  fi
done &>/dev/null

unset dir

typeset -gU manpath

# Load local env vars
if [[ -r {{ shell_env_local }} ]]
then
  source "{{ shell_env_local }}"
fi
