{{ ansible_managed | comment }}
{% for section in ssh_known_hosts %}

{{ section.name | comment }}
  {% for item in section.hosts %}

{{ item.host }} {{ item.key }}
  {% endfor -%}
{% endfor %}

{{ 'Manual Additions' | comment }}
