{{ ansible_managed | comment }}
{% for section in ssh_hosts %}

{{ section.name | comment }}
  {% for item in section.hosts %}
    {% for public_key in item.public_keys | default([]) %}

{{ [item.hostname | default(''), item.ip | default('')] | reject('equalto', '') | join(',') }} {{ public_key }}
    {% endfor -%}
  {% endfor %}
{% endfor %}

{{ 'Manual Additions' | comment }}
