# roles/homebrew/defaults/main.yml
---
homebrew_prefix: "{{ (ansible_facts['architecture'] == 'arm64') | ternary('/opt/homebrew', '/usr/local') }}"

homebrew_bin: "{{ homebrew_prefix }}/bin"
homebrew_etc: "{{ homebrew_prefix }}/etc"
homebrew_lib: "{{ homebrew_prefix }}/lib"
homebrew_opt: "{{ homebrew_prefix }}/opt"
homebrew_sbin: "{{ homebrew_prefix }}/sbin"
homebrew_share: "{{ homebrew_prefix }}/share"
homebrew_gnubin: "{{ homebrew_opt }}/*/libexec/gnubin"

homebrew_man: "{{ homebrew_prefix }}/man"
homebrew_gnuman: "{{ homebrew_opt }}/*/libexec/gnuman"

homebrew_formulae:
  - sass/sass/sass

homebrew_formulae_abandoned: []

homebrew_taps: # 2024-12: Homebrew module fails to install when tap is not present
  - sass/sass

homebrew_taps_abandoned: []

homebrew_casks:
  - name: homebrew/cask/font-andale-mono
  - name: homebrew/cask/font-dejavu
  - name: homebrew/cask/font-fira-code-nerd-font
  - name: homebrew/cask/font-inconsolata
  - name: homebrew/cask/font-sauce-code-pro-nerd-font
  - name: homebrew/cask/font-source-code-pro
  - name: homebrew/cask/qlvideo
  - name: homebrew/cask/sublercli

homebrew_no_analytics: 1
