<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>class</key>
  <string>rule</string>
  <key>comment</key>
  <string>For modifying Trust Settings in the Admin domain without interaction.</string>
  <key>created</key>
  <real>586710097.76875699</real>
  <key>k-of-n</key>
  <integer>1</integer>
  <key>modified</key>
  <real>656935784.82071602</real>
  <key>rule</key>
  <array>
    <string>allow</string>
  </array>
  <key>version</key>
  <integer>1</integer>
</dict>
</plist>
